

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
.main {
	margin-top:20px;
}

table.members {
	width:60%;	
}

footer {
	padding-top:25px;
}














