{% extends "base.html" %}

{% block content %}


<form action="" method="post" role="form" id="user_form" >
	{% csrf_token %}
	<table class="table table-hover">
	    {{ user_form.as_table }}
	    <tr>
	    	<td><label>Linkler:</label></td>
	    	<td>
				{{ link_formset.management_form }}
			    {% for form in link_formset %}
			    	<ul class="list-inline">
			        	{{ form.as_ul }}
			        </ul>
			    {% endfor %}
    		</td>
    	</tr>
    </table>
    <input type="submit" value="Güncelle"  />
</form>
{% endblock content %}
