{% extends "base_with_grid.html" %}


{% block extrahead %}
	{{ block.super }}
	<script type="text/javascript">
	$(function () {
	    $.getJSON("{% url 'grid_config' %}", function(data){
	        data['groupingView']['isInTheSameGroup'] =  [function (prev_value, current_value, group_index, group_object) { 
	        												return (new Date(prev_value)).getMonth() === (new Date(current_value)).getMonth();
	        												},];
	        $("#list")
	            .jqGrid(data);
	    });
	});
	</script>
{% endblock extrahead %}
{% block content %}
	<table id="list"><tr><td></td></tr></table> 
    <div id="pager"></div>
{% endblock content %}


