{% extends "base.html" %}

{% block content %}
<h3>Hackerspace Üye</h3>
<p>Hackerspace'in para işlerini takip etmek ve bütçeyi herkesin takip edebileceği bir hale getirmek için bu uygulamayı yaptım.</p>
<p>Giriş yapmanızı istedim çünkü üyelik bilgisini ve yaptığınız ödemeleri girdiğiniz kullanıcılara tanımlayacağım. Giriş yapmayanların da bizde kayıtlı eposta adreslerine kullanıcı yaratacağım. Şifre hatırlat özelliği ile şifrelerini alabilecekler.  </p>
<p>Şu anda profilinizi doldurup başkalarının profillerine bakabilirsiniz.</p>
<p>İkinci aşamada şu özellikleri açacağım:</p>
<ul>
	<li>Ödenen aidatları görme</li>
	<li>Mayıs ayından beri olan gelir ve gideri görebilmek</li>
</ul>
<p></p>
<p>Hata ve önerileriniz için <a href="https://github.com/elifkus/Hackerhane/issues">github issues</a>'u kullanabilirsiniz.</p>
<p class="text-right">Elif</p>
{% endblock content %}
