{% extends "base.html" %}

{% block content %}
<h3>Hackerspace Üye</h3>
<p>Hackerspace'in para işlerini takip etmek ve bütçeyi herkesin takip edebileceği bir hale getirmek için bu uygulamayı yaptım.</p>
<p>Giriş yapmanızı istedim çünkü üyelik bilgisini ve yaptığınız ödemeleri girdiğiniz kullanıcılara tanımlayacağım. Giriş yapmayanların da bizde kayıtlı eposta adreslerine kullanıcı yaratacağım. Şifre hatırlat özelliği ile şifrelerini alabilecekler.  </p>
<p>Şu andaki özellikler:</p>
<ul>
	<li>Login</li>
	<li>Profil düzenleme / diğer üyelerin profilini görme</li>
</ul>
<p>Pek birşey yok yani.</p>
<p>İkinci aşamada şu özellikleri açacağım:</p>
<ul>
	<li>Üyenin kendi ödediği aidatları görmesi</li>
	<li>Mayıs ayından beri olan gelir ve gideri görebilme</li>
</ul>

<br/>
<p>Hata ve önerileriniz için <a href="https://github.com/elifkus/Hackerhane/issues">github issues</a>'u kullanabilirsiniz.</p>
<p class="text-right">Elif</p>
{% endblock content %}
