#!/usr/bin/env bash
VIRTUALENV_DIR=/path/to/virtual/envir/dir
GIT_SRC_DIR=/git/source/dir/
REQUIREMENTS_FILE=dirto/requirements.txt
LOG_DIR=/usr/local/virtualenvs/hs-members-server/logs/
UWSGI_INI_FILE=/ini/file/location

# update django project
source $VIRTUALENV_DIR/bin/activate

cd $GIT_SRC_DIR   
git pull

#create log dir
if [ ! -d "$LOG_DIR" ]; then
	mkdir $LOG_DIR
fi

touch $LOG_DIR/django.log

pip install -r $REQUIREMENTS_FILE
python manage.py syncdb
#python manage.py migrate # if you use south
python manage.py collectstatic --noinput

# restart webserver
uwsgi --stop  /var/run/uwsgi.pid
uwsgi --ini $UWSGI_INI_FILE --pidfile /var/run/uwsgi.pid
/etc/init.d/nginx restart
